@font-face {
	font-family: "Inter";
	src: url("InterVariable.woff2") format("truetype");
	font-weight: 100 900;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	font-style: italic;
	src: url("InterVariable-Italic.woff2") format("woff2");
	font-weight: 100 900;
	font-display: swap;
}

@font-face {
	font-family: "GothicPixels";
	src: url("GothicPixels.ttf") format("truetype");
}

@font-face {
	font-family: "Nunito";
	src: url("Nunito-VariableFont_wght.ttf") format("truetype");
	font-weight: 100 900;
	font-display: swap;
}

@font-face {
	font-family: "Nunito";
	font-style: italic;
	src: url("Nunito-Italic-VariableFont_wght.ttf") format("truetype");
	font-weight: 100 900;
	font-display: swap;
}
